hometask_4/src/main/resources/categories.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:cat="http://ru.kgogolev.com/spring/ws/categories"
        targetNamespace="http://ru.kgogolev.com/spring/ws/categories" elementFormDefault="qualified">


    <xs:complexType name="category">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>